@import '~node_modules/modern-normalize/modern-normalize.css';

img {
    display: block;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.top-line {
    display: flex;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 80px;
        padding-top: 20px;
        padding-bottom: 20px;
        justify-content: center;
        background-image: linear-gradient(to right, hwb(56 1% 0% / 0.966), #1c6afc);
}

button {
    min-width: 120px;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: #ddddf1;
        border-color: transparent;
        border-radius: 5px;
        transition-property: background-color;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

button:hover {
    background-color: rgb(190, 229, 241);
}

input {
    min-width: 180px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 5px;
        border-color: transparent;
        border-radius: 8px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-top: 100px;
}

.photo-card {
    width: 310px;
    height: 270px;
    padding: 5px;
    border: 1px solid lightblue;
}

.photo-card:hover {
    background-color: lightblue;
}

.info {
    display: flex;
    font-size: 16px;
    text-align: center;
    font-weight: 200;
}

.load-more {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.gallery img {
    object-fit: cover;
}